main {
	background:
		linear-gradient(to top, var(--color-bg-deeper) 10%, transparent 40%),
		linear-gradient(to bottom, var(--color-shadow) 10%, transparent 40%),
		linear-gradient(to right, var(--color-shadow) 5%, transparent 30%),
		linear-gradient(to left, var(--color-shadow) 5%, transparent 30%),
		linear-gradient(140deg, var(--color-bg-dark), var(--color-bg-deeper));

	min-height: 100vh;
	background-attachment: fixed;
	color: var(--color-font);

	h1 {
		text-align: center;
		font-family: "baldur", serif;
		color: var(--color-accent);
		font-weight: 100;
		font-size: 3em;
		padding: rem;
	}
	h2 {
		text-align: center;
		font-family: "baldur", serif;
		color: var(--color-accent);
		font-weight: 100;
		font-size: 3em;
		padding: 2rem;
	}
	h3 {
		font-family: "baldur", sans-serif;
	}
}
